<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% feed_meta %}
{% seo %}

<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/icon">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/icon">

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/base.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/simplePagination.css' | relative_url }}">

{% if layout.markdown %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/highlight-theme.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/rouge-code.css' | relative_url }}">
{% endif %}

{% if page.layout == "post" %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/gitalk.css' | relative_url }}">
{% endif %}

{% if page.layout == "post_bare" %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/post_bare.css' | relative_url }}">
{% endif %}


<!-- javascripts -->
<script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

{% for math in page.usemath %}
  {% if math == "latex" %}
    <!-- latex math support -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

  {% if math == "ascii" %}
    <!-- asciimath support -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
  {% endif %}
{% endfor %}

<!--[if lt IE 9]>
<script src="{{ '/assets/js/html5shiv.js' | relative_url }}"></script>
<![endif]-->