div.highlight {
    width: 100%;
    margin-left: 1px;
    /* background: #49483e url('../img/monokaibg.jpg') top left; */
    background-color: #49483e;
    color: white;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    overflow: auto;
}

div.highlight code {
    border: none !important;
    padding: 0 !important;
}

td.code {
    width: 100%;
    color: white;
    border-radius: 5px;
}

td.code .highlight {
    padding: 0px;
}
