---
layout: base
---
<article class="row">
    <div class="date col-lg-2 col-md-2 col-sm-2">
        <p class="day">01</p>
        <p class="month">09/13</p>
        <p class="category">Category</p>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <h2 class="title">here is the ver long title of the post</h2>
        <ul class="tags">
            <li><i class="fa fa-tag"></i> tag1</li>
            <li><i class="fa fa-tag"></i> tag2</li>
            <li><i class="fa fa-tag"></i> tag3</li>
        </ul>
        <br>
        <hr class="clearfix">
        <p class="excerpt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <button class="continue">FULL ARTICLE</button>
</article>

<div class="paginator row">
</div>