<!DOCTYPE html>
<html>
<head>
    {% include head_base.html %}
</head>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/post_bare.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/rouge-code.css">

    <style type="text/css">
        #disqus_thread {
            margin-top: 3rem;
        }
    </style>
</head>
<body>

<div id="markdown-container">
    {{ content }}

    <!-- {% include disqus_load.html %} -->
</div>

<div id="markdown-outline">
</div>

<div id="markdown-backTop" onclick="window.scrollTo(0,0)"></div>

<script type="text/javascript" src="{{ site.url }}/assets/js/post_bare.js"></script>
</body>
</html>