/**
 * ----------------------------------------------------------------------------------------
 * Footer style
 * ----------------------------------------------------------------------------------------
 */
#l-footer {
    background-color: rgb(28, 51, 64);
    color: white;
    margin-top: 5rem;
    padding: 1.5rem;

    h3 {
        margin-bottom: 0.5rem;
    }

    .rss {
        font-size: 6rem;
    }

    #legal {
        color: rgb(141, 141, 141);
    }
}