#l-main {
    article {
        background: $articlebg;
        padding-right: 3rem;
        margin-top: 5rem;
        box-shadow: 0 0 2px 2px #eee;
        border-radius: 5px;

        .date {
            text-align: center;
            font-weight: bold;
        }

        .day {
            background-color: black;
            color: white;
            width: 5rem;
            height: 5rem;
            margin: 2rem auto 0.5rem auto;
            font: normal normal bold 2.4rem/4.9rem "Verdana",sans-serif;
            @include border-radius(50%);
        }

        .category {
            font-style: italic;
            font-family: comic sans ms, cursive;
        }

        .title {
            font: normal bold 4rem Georgia, serif;
            margin-bottom: 0.4rem;
            text-shadow: 2px 3px 0px #C1C1C1;
        }

        hr {
            clear: both;
        }

        .excerpt {
            font-size: 2rem;
            letter-spacing: 0.2px;
            font-family: Georgia;
            text-align: justify;
        }

        .continue {
            margin: 0 2rem 2rem;
            float: right;
            border-radius: 5px;
        }
    }
}

ul.tags {
    margin: 0 !important;
}

.tags li {
    float: left;
    margin-left: 1rem;
    padding: 0rem 1rem;
    background-color: #8BB3C1;
    color: white;
    @include border-radius(15px);
}

.tags li:first-child {
    margin-left: 0;
}

#postTitle {
    font-size: 3rem;
    font-weight: bold;
}

#postMeta {
    font-style: italic;
}

@media (max-width: 768px) {
    #l-main {
        article .title {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }
}